@{
    ViewBag.Title = "About Us | Daisy";
}
<h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">About Us</h2>
<div>
    <p style="text-align: left;"><strong>Our Mission</strong></p>
    <p>One of the greatest&nbsp;ways to express a personal feeling&nbsp;is to <strong>say it with flowers.</strong></p>
    <p>It is almost&nbsp;a&nbsp;hundred years ago that this expression and&nbsp;personal notice&nbsp;left the sender and their florist in burdensome situations&nbsp;because of various transportation difficulties.&nbsp;Nowadays, Daisy can overcome these difficulties by empowering selected florists across Malaysia to cover the entire nation with its flower bouquets.&nbsp;<span>We believe that ordering and giving flowers should be as beautiful as the flowers we deliver. Fast and easy - just like sending an SMS. With just a few clicks, you can send stylish flower gifts in seconds.</span></p>
    <p><strong>Daisy&nbsp;in&nbsp;Malaysia&nbsp;</strong></p>
    <p><strong></strong>For several years,&nbsp;we are based in the Mont Kiara,Kuala Lumpur, but our orders are placed from people across the world to be delivered to their loved ones in Malaysia. Our&nbsp;integrity is supported by the “Daisy Guarantee” which guarantees the unique freshness, superior flower quality and competitive value of every single&nbsp;order.&nbsp;</p>
    <p><strong>Brand Power</strong></p>
    <p>The name Daisy&nbsp;is synonymous with the language and sentiments that only flowers can express. Florist shops collaborating with Daisy are known for their dedication&nbsp;and goodwill. Daisy&nbsp;is not only the online flower&nbsp;brand – but it strives to be the most sophisticated one with the greatest value delivered with every single order.</p>
    <p>&nbsp;</p>
    <h3>Testimonials&nbsp;</h3>
    <iframe id="AV_widget_iframe" src="//cl.avis-verifies.com/gb/cache/4/8/4/484def04-23d0-2d74-9d71-2c4428228665/widget4/484def04-23d0-2d74-9d71-2c4428228665horizontal_index.html" width="100%" height="100%" frameborder="0"></iframe>
    <p><em></em>&nbsp;</p>
    <h2 style="text-align: center;">Delivery Areas:</h2>
    <table width="287" style="text-align: center;">
        <tbody>
            <tr>
                <td align="center"><span>Kuala Lumpur</span></td>
                <td align="center"><span>Petaling Jaya</span></td>
                <td align="center"><span>Putrajaya</span></td>

        </tbody>
    </table>

</div>