@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<div>
    <img src="~/images/map.png" alt="ASP.NET" class="img-responsive" />
</div>

<br />

<h2 class="SectionHeader__SubHeading Heading u-h6">Contact us</h2>
<h3>We would love to hear from you! 🌸 </h3>
<address>
    Vista Komanwel B<br />
    Bukit Jalil 98000, Kuala Lumpur<br />
    <abbr title="Phone">P:</abbr>
    012-3456789
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@daisy.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@daisy.com</a>
</address>